@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #3d434f;
    background-image: linear-gradient(to top, #292d35, #3d434f);
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    margin: .2em;
}

p {
    margin: .5em;
}

ul {
    margin-left: 0;
    margin-right: 0;
}

#yirdimg {
    display: block;
    margin: auto;
    margin-top: .6em;
    border: white solid 2px;
    border-radius: 50%;
}

.bigbox {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    max-width: 875px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
}

.box {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    max-width: 750px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
}

.smallbox {
    margin: auto;
    margin-bottom: 12px;    
    width: 80%;
    max-width: 650px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
}


.boxcontent {
    margin: 0;
    color: white;
    font-size: 28px;
}

.boxcontentsmall {
    color: white;
    font-size: 24px;
}

.buttonbox {
    margin: .6em;
}

.smalltext {
    font-size: 24px;
}

.button {
    background-color: lightblue;
    font-size: 22px;
    display: inline-block;
    margin: auto;
    padding: 4px;
    width: 120px;
    min-width: 120px;
    border-radius: 8px;
}

.button:hover, .button:active {
    background-color: #afafaf;
}