@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #3d434f;
    background-image: linear-gradient(to top, #292d35, #3d434f);
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;   
}
h1, h2, h3 {
    margin: .2em;
}
p {
    margin: .5em;
}
ul {
    margin-left: 0;
    margin-right: 0;
}
th {
    font-size: 32px;
    background-color: #879fa5;
    border: #879fa5 8px solid;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #6e888f;
    border: #6e888f 8px solid;
}
table {
    border-collapse: collapse;
}

#yirdimg {
    display: block;
    margin: auto;
    margin-top: .6em;
    border: white solid 2px;
    border-radius: 50%;
}
.imgscale {
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    margin-bottom: 8px;
    display: block;
}

.bigbox {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    max-width: 995px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    max-width: 750px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.smallbox {
    margin: auto;
    margin-bottom: 12px;    
    width: 80%;
    max-width: 650px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    background-color: #61787e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.boxcontent {
    margin: 0;
    color: white;
    font-size: 28px;
}
.boxcontentsmall {
    color: white;
    font-size: 24px;
    margin-bottom: -4px;
}
.descriptiontext {
    color: white;
    font-size: 22px;
    margin-bottom: -4px;
}

.buttonbox {
    margin: .6em;
}
.button {
    background-color: #add8e6;
    font-size: 20px;
    display: inline-block;
    margin: auto;
    margin-bottom: 8px;
    padding: 4px;
    width: 125px;
    min-width: 125px;
    border-radius: 8px;
    transition: ease .2s;
}
.button:hover {
    background-color: #d9eff7;
    transition: ease .2s;
    color: #d1d1d1;
}
.buttondescription {
    display: none;
}